# Environment
NODE_ENV=development

# Database (Development/Testing: pg | Production: mysql2)
DB_CLIENT=pg
DB_HOST=db69837.public.databaseasp.net
DB_PORT=5432
DB_NAME=db69837
DB_USER=db69837
DB_PASS="5Tq#_o3L9Zx!"
DB_SSL=true

# Redis Cache & Refresh Token Store
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT Secrets & Expiry
JWT_SECRET=yoka_jwt_secret_dev_key_2026_moustafa_maher
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

# SWM / Internal Service Port
PORT_SWM=3001
CLIENT_ORIGIN=http://localhost:5173
